[Unit]
Description=Buildkite Agent Metrics
Documentation=https://github.com/buildkite/buildkite-agent-metrics#readme
After=syslog.target
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/buildkite/.env
ExecStart=/home/buildkite/buildkite-agent/buildkite-agent-metrics -interval 30s -backend prometheus -prometheus-addr :9120

[Install]
WantedBy=default.target
