- name: Deploy Buildkite Uploader
  hosts: project_buildkite_uploader
  vars:
    buildkite_agent_version: 3.103.1

  pre_tasks:
    - name: Install general tools and libraries
      become: true
      ansible.builtin.apt:
        name:
          - build-essential
          - git
          - jq
        state: latest

    - name: Keep system packages up to date
      become: true
      ansible.builtin.apt:
        autoremove: true
        update_cache: true
        name: "*"
        state: latest

  roles:
    - role: ../roles/service-user
      become: true
      vars:
        service_name: buildkite

  tasks:
    - name: Ensure required directories exists
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - /home/buildkite/buildkite-agent/
        - /home/buildkite/.config/systemd/user/
        - /home/buildkite/.ssh/

    - name: Download and install Buildkite agent
      register: install_buildkite_agent
      remote_user: buildkite
      ansible.builtin.unarchive:
        dest: /home/buildkite/buildkite-agent
        remote_src: true
        # TODO: Get architecture dynamically instead of hardcoding it
        src: https://github.com/buildkite/agent/releases/download/v{{ buildkite_agent_version }}/buildkite-agent-linux-arm64-{{ buildkite_agent_version }}.tar.gz

    - name: Copy credentials for Buildkite agent
      register: copy_buildkite_agent_token
      remote_user: buildkite
      vars:
        # TODO: Consider retrieving this from Vault
        buildkite_agent_token: "{{ lookup('community.general.passwordstore', 'buildkite/agent-token') }}"
        honeycomb_credentials: "{{ lookup('community.hashi_vault.vault_read', 'kv/data/honeycomb-buildkite').data.data }}"
      ansible.builtin.copy:
        content: |
          BUILDKITE_AGENT_TOKEN="{{ buildkite_agent_token }}"
          OTEL_EXPORTER_OTLP_ENDPOINT="{{ honeycomb_credentials["endpoint"] }}"
          OTEL_EXPORTER_OTLP_HEADERS="x-honeycomb-team={{ honeycomb_credentials["ingest-api-key"] }}"
        dest: /home/buildkite/.env
        mode: "0600"

    - name: Configure Buildkite agent
      register: configure_buildkite_agent
      remote_user: buildkite
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      with_items:
        - src: buildkite-agent.cfg
          dest: /home/buildkite/buildkite-agent.cfg
        - src: buildkite-agent.service.j2
          dest: /home/buildkite/.config/systemd/user/buildkite-agent.service

    - name: Generate SSH keys to clone from GitHub
      register: generate_ssh_key
      remote_user: buildkite
      community.crypto.openssh_keypair:
        path: /home/buildkite/.ssh/id_ed25519
        mode: "0600"
        type: ed25519

    - name: Upload SSH key to GitHub
      when: generate_ssh_key.changed
      vars:
        github_api_token: "{{ lookup('community.hashi_vault.vault_read', 'kv/data/nchlswhttkr/github').data.data.access_token }}"
      ansible.builtin.uri:
        url: https://api.github.com/user/keys
        method: POST
        headers:
          Accept: application/vnd.github+json
          Authorization: Bearer {{ github_api_token }}
          X-GitHub-Api-Version: "2022-11-28"
        body_format: json
        body:
          title: Buildkite Uploader on {{ now().strftime("%Y-%m-%d") }}
          key: "{{ generate_ssh_key.public_key }}"
        status_code: [201]

    - name: Restart Buildkite agent service
      when: install_buildkite_agent.changed or copy_buildkite_agent_token.changed or configure_buildkite_agent.changed
      remote_user: buildkite
      ansible.builtin.systemd:
        name: buildkite-agent
        scope: user
        state: restarted
        enabled: true
        daemon_reload: true
