[Unit]
Description=NGINX Prometheus Exporter
Documentation=https://github.com/nginxinc/nginx-prometheus-exporter#readme
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/root/nginx-prometheus-exporter/nginx-prometheus-exporter -web.listen-address :9110

[Install]
WantedBy=default.target
