[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/monitoring/prometheus
ExecStart=/home/monitoring/prometheus/prometheus --config.file=prometheus.yml

[Install]
WantedBy=default.target
