[defaults]
private_role_vars = true
pipelining = true
host_key_checking = false

# https://docs.ansible.com/projects/ansible-core/2.20/reference_appendices/interpreter_discovery.html
interpreter_python = "auto_silent"

[connection]
retries = 2
