[Unit]
Description=OpenTelemetry Collector
Documentation=https://github.com/open-telemetry/opentelemetry-collector#readme
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/home/otel/otel-collector/otelcol --config otel-collector-config.yml

[Install]
WantedBy=default.target
