- name: Deploy Vault (https://vault.nicholas.cloud/)
  hosts: project_vault
  vars:
    vault_version: "1.14.0"

  pre_tasks:
    - name: Install general tools and libraries
      become: true
      ansible.builtin.apt:
        name:
          - build-essential
          - git
          - jq
        state: latest

    - name: Keep system packages up to date
      become: true
      ansible.builtin.apt:
        autoremove: true
        update_cache: true
        name: "*"
        state: latest

  roles:
    - role: ../roles/service-user
      become: true
      vars:
        service_name: vault

    - role: ../roles/nginx
      become: true
      vars:
        nginx_hostname: vault.nicholas.cloud

  tasks:
    - name: Ensure vault directories exist
      remote_user: vault
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - /home/vault/.config/systemd/user/
        - /home/vault/data

    - name: Download and install Vault
      when: ansible_local.vault.versions.vault_version|d != vault_version
      register: install_vault
      remote_user: vault
      ansible.builtin.unarchive:
        dest: /home/vault/
        remote_src: true
        # TODO: Get architecture dynamically instead of hardcoding it
        src: https://releases.hashicorp.com/vault/{{ vault_version }}/vault_{{vault_version}}_linux_arm64.zip

    - name: Allow Vault to call mlock()
      when: install_vault.changed
      become: true
      # https://support.hashicorp.com/hc/en-us/articles/115012787688-Vault-and-mlock-
      ansible.builtin.shell: setcap cap_ipc_lock=+ep $(readlink -f /home/vault/vault)

    - name: Configure Vault server
      register: configure_vault
      remote_user: vault
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      with_items:
        - src: config.hcl
          dest: /home/vault/config.hcl
        - src: vault.service.j2
          dest: /home/vault/.config/systemd/user/vault.service

    - name: Restart Vault service
      when: install_vault.changed or configure_vault.changed
      remote_user: vault
      ansible.builtin.systemd:
        name: vault
        scope: user
        state: restarted
        enabled: true
        daemon_reload: true
