# https://github.com/buildkite/agent/blob/main/packaging/linux/root/usr/share/buildkite-agent/systemd/buildkite-agent.service

[Unit]
Description=Buildkite Agent
Documentation=https://buildkite.com/agent
After=syslog.target
After=network.target

[Service]
Type=simple
Environment=HOME=/home/buildkite
ExecStart=/home/buildkite/.buildkite-agent/buildkite-agent start
RestartSec=5
Restart=on-failure
RestartForceExitStatus=SIGPIPE
TimeoutStartSec=10
TimeoutStopSec=0
KillMode=process

[Install]
WantedBy=multi-user.target
